{% extends 'base.html' %}

{% block content %}
<div>
    <h2>{{ blog.title }}</h2>
    <p><strong>Post date: </strong>{{ blog.post_date | date }}</p>
    <p><strong>Author: </strong><a href="{{ blog.author.get_absolute_url }}">{{ blog.author.name }}</a></p>
    <p><strong>Description: </strong></p>
    <p>{{ blog.description }}</p>
</div>

{% if user.is_authenticated %}
<div>
    <div>
        <h2>Add a new comment<h2>
    </div>
    <div>
        <form action="" method="post"> 
            {% csrf_token %}
            <table>
                {{ form.as_table }}
            </table>
            <input type="submit" value="Add Comment"/>
        </form>
    </div>
</div>
{% else %}
    <p><a href="{% url 'account_login' %}">Login</a> to add a new comment</p>
{% endif %}

<div>
    {% if blog.blogcomment_set.count > 0 %}
        {% for comment in blog.blogcomment_set.all %}
        <div>
            <hr>
            <p>{{ comment.author }} ({{ comment.comment_date | date }})</p>
            <p>{{ comment.comment }}</p>
            <hr>
        </div>
        {% endfor %}
    {% else %}
        <div>
            <p>There is no comment yet!</p>
        </div>
    {% endif %}
</div>
{% endblock %}
