SECRET_KEY=Put your secret key here.

DEBUG=Put your boolean flag here.

DATABASE_URL=postgres://user:password@localhost/dbname

# Email Settings
EMAIL_HOST_USER=Put your email
EMAIL_HOST_PASSWORD=Put you email's password
