{% extends 'dashboard/base.html' %}
{% load static i18n %}
{% block head_title %}{% trans 'Dashboard' %}{% endblock %}
{% block content %}

<div class="container-fluid">
    <div class="my-4 rounded bg-light">
        <h2 class="mx-3 py-3">Dashboard</h2>
    </div>
    <div class="row mb-2">
        <div class="col-md-6">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <h3 class="mb-0">{{ total_blogs }}</h3>
                    <p class="card-text mb-auto">Total posts</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <h3 class="mb-0">{{ total_blog_comments }}</h3>
                    <p class="mb-auto">Total post comments</p>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div>
            <h4>Posts</h4>
        </div>

        <div class="infinite-container">
            {% for blog in blogs %}
            <div
                class="my-3 d-flex flex-wrap align-items-center justify-content-center justify-content-md-between bg-light p-2 rounded infinite-item">
                <div class="col-md-3 mb-2 mb-md-0">
                    <a href="{{ blog.get_absolute_url }}"
                        class="d-inline-flex link-body-emphasis text-decoration-none text-primary">
                        {{ blog.title }}
                    </a>
                    <p class="mb-0 text-secondary">Published: <span>{{ blog.post_date | date }}</span></p>
                </div>
                <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
                    <li class="d-flex">
                        <img src="{% static 'icons/chat.svg' %}" alt="chat_icon" width="25" height="25">
                        <p class="mx-2 mb-0">{{ blog.comment_count }}</p>
                    </li>
                </ul>
                <div class="col-md-3 text-end">
                    <button type="button" class="btn btn-outline-dark me-2">Edit</button>
                    <a type="button" class="btn btn-danger" href="{% url 'blog-delete' blog.pk %}">Delete</a>
                </div>
            </div>
            {% endfor %}
            {% if blogs.has_next %}
            <div class="d-flex justify-content-center">
                <div class="spinner-border text-primary loading" role="status"></div>
            </div>
            <div class="pagination d-none">
                <span class="step-links">
                    <a class="infinite-more-link" href="?page={{ blogs.next_page_number }}">next</a>
                </span>
            </div>
            {% endif %}
        </div>
    </div>
</div>

<script>
    var infinite = new Waypoint.Infinite({
        element: $('.infinite-container')[0],
        offset: 'bottom-in-view',
        onBeforePageLoad: function () {
            $('.loading').show();
        },
        onAfterPageLoad: function () {
            $('.loading').hide();
        }
    });
</script>

{% endblock %}