body {
    margin: 0;
    padding: 0;
}

.header_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_profile_list {
    list-style: none;
    margin: 0;
    padding: 0;
}
.header_nav_item {
    float: left;
    border:1px solid #bbb;
}

.header_nav_link {
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 0.9rem;
}

.login_header,
.sign_up_header,
.logout_header {
    display: flex;
    justify-content: center;
}

.login_form,
.sign_up_form,
.logout_form,
.reset_form,
.reset_done_container, 
.reset_key_container, 
.reset_key_done_container,
.verification_sent_container,
.email_confirm_container {
    width: 300px;
    margin: 0 auto;
}
    
.login_form_help {
    display: flex;
    justify-content: space-between;
}

.login_form_fields,
.sign_up_form_fields {
    margin-bottom: 0.5rem;
}

.login_form_fields input,
.sign_up_form_fields input,
.reset_form input,
.reset_done_field input {
    width: 90%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical;
}

.remember input {
    float: left;
    width: auto;
    margin-left: 0;
}

.remember label { 
    margin-left: 0.8rem;
}

.login_submit_button,
.sign_up_submit_button, 
.logout_submit_button,
.reset_button,
.reset_key_button,
.confirm_email_button {
    width: 100%;
    border: 0;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 12px;
}

.login_help_link {
    text-decoration: none;
}

.login_social {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social_account_providers{
    width: 200px;
    height: 42px;
    background-color: #4285f4;
    border-radius: 2px;
    box-shadow: 0 3px 4px 0 rgba(0,0,0,.25);
}

.social_account_icon {
    position: absolute;
    margin-top: 1px;
    margin-left: 1px;
    width: 40px;
    height: 40px;
    border-radius: 2px;
    background-color: #fff;
}

.google_icon {
    position: absolute;
    margin-top: 11px;
    margin-left: 11px;
    width: 18px;
    height: 18px;
}

.social_account_text {
    float: right;
    margin: 11px 11px 0 0;
    color: #fff;
    font-size: 14px;
    letter-spacing: 0.2px;
}

.reset_header {
    display: flex;
    justify-content: center;
}
