{% extends 'account/base.html' %}
{% load static i18n %}
{% load account %}
{% block head_title %}{% trans 'Change Password' %}{% endblock %}
{% block content %}

<div class="d-flex flex-grow-1 justify-content-center align-items-center">
    <div class="w-50">
        {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <h1 class="h3 mb-3 fw-normal text-center">{% trans 'Sorry!' %}</h1>
        <p class="text-center mb-4">
            {% blocktrans %}
            The password reset link was expired.
            {% endblocktrans %}
        </p>
        <div class="col-12 text-center my-3">
            <a class="btn btn-dark text-white w-100 py-2" href="{{ passwd_reset_url }}">Resend a link</a>
        </div>
        {% else %}
        <form method="post">
            {% csrf_token %}
            <h1 class="h3 mb-3 fw-normal text-center">{% trans 'Set new password' %}</h1>
            <p class="mb-4">
                {% blocktrans %}
                Your new password must be different to previously used passwords.
                {% endblocktrans %}
            </p>
            <div class="col-12 mb-3">
                <ul class="list-unstyled mb-0">
                    {% for error in form.non_field_errors %}
                    <li><text class="dropdown-item d-flex align-items-center gap-2 py-1 text-danger">
                            <span class="d-inline-block bg-danger rounded-circle p-1"></span>
                            {{ error }}
                        </text></li>
                    {% endfor %}
                </ul>
            </div>

            <div class="col-12 mb-3">
                <div class="input-group">
                    <span class="input-group-text">
                        <img src="{% static 'icons/key.svg' %}" alt="password1_password_reset_icon">
                    </span>
                    <input type="password"
                        class="form-control shadow-none bg-light rounded-end {% if form.password1.errors %} is-invalid {% endif %}"
                        placeholder="Your password" id="input-password-reset-password1" name="{{ form.password1.name }}"
                        value="{{ form.password1.value|default:'' }}">
                    <div class="invalid-feedback mx-4">
                        <ul>
                            {% for error in form.password1.errors %}
                            <li>{{ error}}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-12 mb-3">
                <div class="input-group">
                    <span class="input-group-text">
                        <img src="{% static 'icons/key.svg' %}" alt="password2_password_reset_icon">
                    </span>
                    <input type="password"
                        class="form-control shadow-none bg-light rounded-end {% if form.password2.errors %} is-invalid {% endif %}"
                        placeholder="Repeat your password" id="input-password-reset-password2"
                        name="{{ form.password2.name }}" value="{{ form.password2.value|default:'' }}">
                    <div class="invalid-feedback mx-4">
                        <ul>
                            {% for error in form.password2.errors %}
                            <li>{{ error}}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>

            <button class="btn btn-outline-dark w-100 py-2" type="submit">{% trans 'Reset Password' %}</button>
        </form>
        {% endif %}
    </div>
</div>

{% endblock %}