{% extends 'account/base.html' %}
{% load static i18n %}
{% load account %}
{% block head_title %}{% trans 'Password Reset' %}{% endblock %}
{% block content %}

<div class="container-fluid d-flex flex-grow-1 justify-content-center align-items-center">
    <div class="w-100">
        <div class="row justify-content-center">
            <div class="col-lg-5">
                <form method="post">
                    {% csrf_token %}
                    <h1 class="h3 mb-3 fw-normal text-center">{% trans 'Forget Password?' %}</h1>
                    <p class="mb-4">
                        {% blocktrans %}
                        Enter the email address associated with your account and we'll send you a link to
                        reset your password.
                        {% endblocktrans %}
                    </p>
                    {% if user.is_authenticated %}
                    {% include 'account/snippets/already_logged_in.html' %}
                    {% endif %}
                    <div class="col-12 mb-3">
                        <ul class="list-unstyled mb-0">
                            {% for error in form.non_field_errors %}
                            <li><text class="dropdown-item d-flex align-items-center gap-2 py-1 text-danger">
                                    <span class="d-inline-block bg-danger rounded-circle p-1"></span>
                                    {{ error }}
                                </text></li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="col-12 mb-3">
                        <div class="input-group">
                            <span class="input-group-text">
                                <img src="{% static 'icons/email.svg' %}" alt="email_reset_password_icon">
                            </span>
                            <input type="email"
                                class="form-control shadow-none bg-light rounded-end {% if form.email.errors %} is-invalid {% endif %}"
                                placeholder="you@example.com" id="input-reset-password-email" name="{{ form.email.name }}" 
                                value="{{ form.email.value|default:'' }}">
                            <div class="invalid-feedback mx-4">
                                <ul>
                                    {% for error in form.email.errors %}
                                    <li>{{ error}}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-outline-dark w-100 py-2" type="submit">{% trans 'Reset Password' %}</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}