{% extends 'account/base.html' %}
{% load static i18n %}
{% load account %}
{% block head_title %}{% trans 'Change Password' %}{% endblock %}
{% block content %}

<div class="d-flex flex-grow-1 justify-content-center align-items-center">
    <div class="w-50">
        <h1 class="h3 mb-4 fw-normal text-center">{% trans 'Password Changed!' %}</h1>
        <p class="mb-4 text-center">{% trans 'Your password has been successfully reset.' %}</p>
        <p class="mb-4 text-center">
            {% blocktrans %}
            You can now use your new password to log into your account.
            {% endblocktrans %}
        </p>
    </div>
</div>

{% endblock %}